<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>10 крупных стран</title>
	<script src="../js/jquery.js"></script>
	<script src="../js/raphael.js"></script>
	<script src="../js/morris.js"></script>
</head>
<body>
	<h1 style = 'font-size: 2em'>Круговой график 10 самых населённых стран мира</h1>
	<div class="donut"></div>
	<div class="label">
		<span>По данным Wiki</span>
	</div>
	<script>
		console.log(data);
	</script>
</body>
</html>
